@import url(https://fonts.googleapis.com/css?family=Lakki+Reddy);

$patina: #699;
$wafer: #e1d7d2;
$dawn-pink: #f2ece4;

body {
  background-color: $dawn-pink;
}

#header {
  text-align: center;
  background-color: $wafer;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.nav {
  text-align: right;
}

h1 {
  color: $patina;
  font-size: 5em;
  font-family: 'Lakki Reddy', cursive;
  text-align: center;
}

h3 {
  margin-top: 15px;
}

#each-meal {
  border-width: thin;
  border-radius: 8px;
  border-style: outset;
  border-color: gray;
  margin-bottom: 10px;
}

#edit {
  margin-top: 80px;
  margin-bottom: 0px;
}

.selected {
  color: $patina;
}

.meal-form {
  margin-top: 80px;
  margin-bottom: 80px;
}

.add-button {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  float: left;
}

.filter {
  margin-top: 20px;
  margin-bottom: 20px;
}
